

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
}

header{
    /* height: 84vh; */
    padding: 25px;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.5;
}

footer{
    background: linear-gradient(90deg, #af2896 0%, #509bf5 100%);
    color: white;
    padding: 25px;
    /* position: relative; */
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.5;
}

#inscrever{
    border-radius: 17px;
    border-color: rgba(255, 255, 255, 0);
    padding: 10px;
    font-weight: bold;
    border: none;
    /* margin: 0 0 0 500px; */
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

#inscrever:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#menu{
    background-color: #c46a03;
    padding: 0 25px;
    width: 150px;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1.5;
}

#logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}
