@font-face {
    font-family: "CircularSpBold";
    src: url();
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

body{
    /* width: 100vw; */
    display: flex;
    /* flex-direction: column; */
    background-color: rgb(155, 154, 154);
    padding: 8px 0px 8px 8px;
    overflow-y: hidden;
}

header{
    
}

footer{
    background: linear-gradient(90deg, #af2896 0%, #509bf5 100%);
    color: white;
    padding: 25px;
    position: fixed;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    bottom: 0;
}

.botao{
    border-radius: 17px;
    border-color: rgba(255, 255, 255, 0);
    padding: 10px;
    font-weight: bold;
    border: none;
    /* position: absolute;
    right: 0; */
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.botao:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#menu{
  
}

#logo{
   
}
