@font-face {
    font-family: "CircularSp";
    src: local("CircularSp"), url(/fonts/CircularSp-Book-4eaffdf96f4c6f984686e93d5d9cb325.woff2);
}

@font-face {
    font-family: "CircularSpBold";
    src: local("CircularSpBold"), url(/fonts/CircularSp-Bold-fe1cfc14b7498b187c78fa72fb72d148.woff2);
}

@font-face {
    font-family: "CircularSpTitle";
    src: local("CircularSpTitle"), url(/fonts/CircularSpTitle-Bold-2fbf72b606d7f0b0f771ea4956a8b4d6.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

body {
    /* width: 100vw; */
    display: flex;
    /* flex-direction: column; */
    background-color: rgb(0, 0, 0);
    padding: 8px 0px 8px 8px;
    overflow-y: hidden;
}

footer {
    background-image: linear-gradient(90deg, #af2896 0%, #509bf5 100%);
    color: white;
    padding: 9px 24px 7px 15px;
    left: 0px;
    right: 0px;
    height: 83px;
    text-transform: uppercase;
    bottom: 0;
    border: 8px solid #121212;
    position: fixed;
}

footer button {
    margin-top: 3px;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

aside {
    width: 358px;
}

span {
    color: white;
}

.block {
    background-color: #121212;
    border-radius: 8px;
}

.block a {
    font-family: "CircularSPbold";
}

#logo {
    margin-top: 20px;
    padding: 0px 24px;
}

#asidelist1 {
    padding: 8px 12px;
}

#asidelist1 li {
    padding: 4px 12px;
    cursor: pointer;
}

#asidelist1 li a {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 40px;
}

#asidelist1 li span {
    line-height: 25.6px;
}

#asidelist1 li:not(li:hover):nth-child(2) span,
#asidelist1 li:not(li:hover):nth-child(2) img,
.libaryHeaderSection:not(.libaryHeaderSection:hover) {
    color: rgb(204, 204, 204);
    filter: invert(0.3);
    transition: all 0.2s ease-in;
}

.blocklibrary {
    flex: 1;
    margin-bottom: 5px;
}

.libaryHeaderSection {
    cursor: pointer;
    padding: 4px 8px;
    height: 40px;
    display: flex;
    align-items: center;
}

.libaryHeaderSection img {
    margin-inline-end: 12px;
}

.libaryHeaderSection span {
    font-family: "CircularSPbold";
}

nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: calc(100% - 70px);
}

.libaryHeader {
    padding: 3px 20px 3px 16px;
    display: flex;
    justify-content: space-between;
}

#imgplus {
    padding: 8px;
}

#imgplus:not(#imgplus:hover) {
    filter: invert(0.3);
}

.infoBox {
    padding: 0px 8px 8px 8px;
    margin: 8px 0px;
}

.infoBoxContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #242424;
    border-radius: 8px;
    padding: 16px 20px;
    margin-top: 8px;
}

.infoBoxTextContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: "CircularSP";
}

.infoBoxTextContent p {
    font-size: 16px;
    line-height: 25.6px;
    color: rgb(255, 255, 255);
    font-family: "CircularSPbold";
}

.infoBoxTextContent span {
    font-size: 14px;
    line-height: 22.2px;
    color: rgb(179, 179, 179);
}

.infoBoxContentButton {
    display: block;
}

.infoBoxContentButton button span {
    color: black;
    padding-inline: 16px;
    font-size: 16px;
}

.btnPrimary {
    background-color: white;
    border-radius: 20px;
    border: 0px;
    min-block-size: 32px;
    font-family: "CircularSPbold";
}

/* .infoBoxContentButton:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */

.asidelinkSection div {
    display: flex;
    margin-bottom: 32px;
    margin-top: 26px;
    padding: 0px 24px;
}

.asidelinkList {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0px 0px 0px;
    padding: 0px 24px;
    text-align: start;
    font-family: "CircularSPtitle";
}

.link {
    margin-right: 16px;
    color: #a7a7a7;
    font-size: 11px;
    padding: 5px;
}

.link:hover {
    color: #dbdbdb;
}

.btnSecondary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'CircularSpBold';
    color: white;
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 20px;
    min-block-size: 33px;
    padding: 0px 15px 0px 12px;
}

.btnSecondary span {
    margin-left: 4px;

}

.btnSecondary:hover {
    transform: scale(1.04);
    border-color: white;

}

.btnPrimary:hover {
    transform: scale(1.04);
    border-color: rgb(197, 197, 197);

}

.footerTextContent {
    font-family: 'CircularSpBold';
    font-size: 16px;
    color: white;
    line-height: 25.6px;
}

.footerTextContent p:first-child {
    font-family: 'CircularSpBold';
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 19.2px;
}

.btnFooter {
    min-block-size: 48px;
    padding: 8px 32px;
    border-radius: 500px;
    font-size: 16px;
    border: 0px;
    font-family: 'CircularSpBold';
}

.btnFooter:hover {
    /* transform: scale(1.09); */
    background-image: linear-gradient(90deg, #509bf5 0%, #af2896 100%);
    color: white;
    border: 1px solid rgb(175, 175, 175);
}

main {
    display: flex;
    flex: 1;
}

.blockMain {
    flex: 1;
    margin-left: 8px;
    max-height: calc(100% - 75px);
}

.mainHeader {
    border-radius: 5px;
    height: 64px;
    position: sticky;
    top: 0px;
    background-color: #12121270;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

#scrollme {
    display: block;
    width: 100%;
    height: 854px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#scrollme::-webkit-scrollbar {
    width: 12px;
    background-color: none;
}

#scrollme::-webkit-scrollbar-button {
    display: none;
}

#scrollme::-webkit-scrollbar-track {
    background-color: none;
}

#scrollme::-webkit-scrollbar-track-piece {
    background-color: none;
}

#scrollme.hovered::-webkit-scrollbar-thumb {
    background-color: rgba(179, 179, 179, 1);
}

#scrollme::-webkit-scrollbar-thumb {
    background-color: transparent;
}

#scrollme::-webkit-scrollbar-thumb:hover {
    background-color: rgba(179, 179, 179, 0.8);
}

#scrollme::-webkit-scrollbar-thumb:active {
    background-color: rgba(179, 179, 179, 1);
}

.mainContent {
    background: linear-gradient(0deg, #121212 80%, #212121fb);
    padding: 0px 24px 0px 24px;
}

.btnArrow {
    background-color: rgba(0, 0, 0, .4);
    border: 0px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.btnArrow:hover {
    /* transform: scale(1.05); */
    background-color: rgba(94, 94, 94, 0.4);
}

.btnLogin {
    color: black;
    padding: 8px 32px;
    height: 48px;
    border-radius: 25px;
    font-size: 16px;
}

.btnLogin:hover {
    color: white;
    background-color: #1fdf64;
}

.txtSingup {
    color: #a7a7a7;
    cursor: pointer;
    font-family: "CircularSP";
}

.txtSingup:hover {
    color: #ffffff;
}

#btnHeaderSection {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.mainTitleTextContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 14px;
}

.mainTitleTextContent h2 {
    color: #ebebeb;
    font-family: "CircularSPBold";
    font-size: 26px;
    /* padding-bottom: 8px; */
}

.mainTitleTextContent h2:hover {
    /* transform: scale(1.05); */
    color: #ffffff;
    text-decoration: underline;
}

.mainTitleTextContent span {
    color: #b3b3b3;
    font-family: "CircularSPBold";
    font-size: 14px;
}

.mainTitleTextContent span:hover {
    transform: scale(1.05);
    color: #e6e6e6;
    text-decoration: underline;
}

.musicCardContent {
    background: #181818;
    border-radius: 8px;
    /* transition: background-color 0.3s ease; */
    width: 192px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 16px;
}

.folderImg {
    width: 160px;
    height: 160px;
    margin-top: 17px;
    border-radius: 5px;
}

.musicCardContent:hover {
    background: #282828;
}

.musicCardContent p {
    font-family: "CircularSP";
}

.musicCardContent p:nth-child(2) {
    font-size: 16px;
    font-family: "CircularSPbold";
    color: white;
    padding-bottom: 8px;
}

.musicCardContent p:nth-child(3) {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #a7a7a7;
}

.cardSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.linkSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.linkContent {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 8px;
    flex: 1;
}

.linkContentColumns {
    margin-top: 32px;
    display: flex;
    justify-content: flex-start;
}

.linkColumn {
    width: 202px;
    margin-right: 24px;
}

.linkColumn ul p {
    font-size: 16px;
    color: #a7a7a7;
    font-family: "CircularSP";
    margin-bottom: 12px;
}

.linkColumn ul p:hover {
    color: #dddddd;
}

.linkColumn ul p:first-child {
    font-size: 16px;
    color: white;
    font-weight: bold;
    font-family: "CircularSP";
    margin-bottom: 12px;
}

#sociaMediaContent {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
}

#sociaMediaContent a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    margin-right: 5px;
    margin-left: 11px;
}

#sociaMediaContent a:hover {
    background-color: rgb(114, 114, 114)
}

hr {
    border-color: rgba (255, 255, 255, 0.1);
    margin-block-start: 1px;
    padding: 0 20px;
}

#txtCopy {
    font-size: 14px;
    color: #a7a7a7;
    font-family: "CircularSP";
    margin-top: -50px;
    padding-bottom: 50px;
    line-height: 200px;
}


.cardplay {
    width: 50px;
    height: 50px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 10px;
    display: none;
    position: absolute;
    top: -150px;
    left: 100;
}

.cardplay:hover {
    transform: scale(1.05);
}

.musicCardContent:hover .cardplay {
    display: initial;
}